{% extends "base.html" %}
{% load static %}

{% block title %}
	Game v1
{% endblock title %}


{% block content %}
	<body>
		<div class="row">
			<div class="col">
				<table>
					<tr>
						<td><img src="" alt="image" id='myid' class="responsive"></td>
						<tr>
							<td><p class="text-center" id="none"></p></td>
							<td><p class="text-center" id="none"></p></td>
						</tr>
						<tr>
							<td><p class="text-center" id="none"></p></td>
							<td><p class="text-center" id="none"></p></td>
						</tr>
						
					</tr>
				</table>
				
				
			</div>
			
		</div>
		  
{% endblock content %}


{% block script %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script>
$(document).ready(function(){
	console.log('ready');
	$.ajax({
		url: '/api/whois/persions/',
		method: 'GET',
		success: function(data) {
			$('#none').append(data[0]['persion_name']);	
			$('#myid').attr('src', data[0]['persion_img']);
		}
	});
});

</script>

{% endblock script %}