<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html>
<head><title>{% block title %}{% endblock title %}</title>	{% include "head.html" %} {% block head %}{% endblock head %}
<link rel="shortcut icon" href="{% static 'img/home.png' %}">
<link rel="stylesheet" href="{% static "css/nav.css" %}">
</head>


  <body>
    {% include "nav.html" %}

    {% block content %}{% endblock %}

    {% include "script.html" %}

    {% block script %}{% endblock script %}

    {% block footer %}{% endblock footer %}
    
  </body>
</html>
