    <footer class="footer" style="flex-shrink: 0;height:200px;width: 100%;line-height: 22px; margin-top:40px">
    <div class="container">
      <span class="text-muted">
      <li> Đối xử tốt với bản thân, hạnh phúc không gì so sánh được. Đối xử tốt với người khác, vui vẻ không gì so sánh được; đối xử tốt với sinh mệnh, sẽ khỏe mạnh không gì so sánh được. </li>
      <li> Xinh gái, đẹp trai nhưng bản thân không biết, đó chính là khí chất. Có tiền, tài hoa nhưng người khác không biết, đó chính là tu dưỡng.</li>
      <li> Duyên phận là một cuốn sách, nếu lật giở mà không để tâm sẽ bị lướt qua, đọc quá chăm chú sẽ khiến người ta rơi nước mắt.</li>
      <li> Hãy cảm ơn người nói cho bạn biết khuyết điểm của bạn, chỉ có người nói cho bạn khuyết điểm của bạn một cách chân thành mới là người đối tốt với bạn.</li>
      <li>Đừng nói dối vì nói một câu dối gian lại phải bịa đặt ra mười câu gian dối khác để bù đắp. Bạn có cần phải khổ như vậy?</li>
      <li>Niềm vui luôn đi cùng những người khoan dung, của cải luôn sánh vai cùng những người biết giữ chữ tín, trí tuệ luôn song hành cùng những người cao thượng, sức hấp dẫn luôn xuất hiện bên người hài hước và sức khỏe luôn đến với những người vui vẻ, mở rộng trái tim.</li>
      <li>Tôi yêu người ấy bằng thứ tình cảm chân thành nhất, chỉ cần người đó không buông tay thì dù trái đất này có ngừng quay tôi cũng không bao giờ buông tay người ấy.</li>
      <li>Duyên do trời định, phận do trời tạo nhưng hạnh phúc là do chính bản thân mình tạo ra. Hãy nhớ và trân trọng điều đó nhé!</li>
      <li>Gặp gỡ là chữ Duyên và đi qua cuộc đời nhau là Định mệnh sắp đặt. Đó là món quà ý nghĩa mà cuộc sống dành tặng cho mỗi người. Đôi khi chỉ cần nghĩ đến nó thôi cũng đủ lý do để mỉn cười.</li>
      <li>Đôi khi con người cứ mải mê theo đuổi hạnh phúc xa vời, để rồi một ngày chợt nhận ra rằng hạnh phúc đang ở ngay dưới chân mình. Nhưng lại không có đủ dũng cảm để cúi xuống và nhặt nó lên.</li>
      <li>Có những năm tháng đi qua mà chẳng thành nỗi nhớ, nhưng nhiều khi chỉ một lần gặp gỡ, một thoáng nhìn cũng trăn trở mãi trong lòng nhau.</li>
      <li>Nếu bạn thích một người, hãy can đảm nói ra. Còn nếu không hãy can đảm nhìn người đó yêu một người khác.</li>
      <li>Không có liều thuốc nào cho tình yêu ngoại trừ việc yêu nhiều hơn nữa.</li>
      <li>Bạn sẽ tìm thấy niềm vui khi giúp đỡ người khác bằng tất cả tấm lòng</li>
      </span>
    </div>
  </footer>