{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<nav class="navbar navbar-expand-lg bg-dark navbar-dark" role="navigation" id="navbar">
  <div class="navbar-nav align-items-center">
    {% if user.is_superuser %}
          <a class="navbar-brand mynav" href="{% url 'home' %}"><span style="color:#4287f5">Hiếu </span><i style="color:red" class="fa fa-heart" aria-hidden="true"></i> <span style="color:#FCC9B9">Hương</span></a>
    {% else %}
      <a class="navbar-brand mynav" href="{% url 'home' %}"><span style="color:#4287f5">Home</span></a>
    {% endif %}

  </div>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="navbar-nav ml-auto" id="mynavbar">
        <a class="nav-item nav-link btn btn-dark" href="{% url 'englishapp:english-home' %}">{% trans "Study English" %}</a>
        <a class="nav-item nav-link btn btn-dark" href="{% url 'tasks:all_task' %}">{% trans "Tasks" %}</a>
        <a class="nav-item nav-link btn btn-dark" href="{% url 'books:book-index' %}">{% trans "Books" %}</a>

      {% if user.is_authenticated %}
        <a class="nav-item nav-link btn btn-dark" href="{% url 'accounts:logout' %}">{% trans "Log out" %}</a>
      {% else %}
        <a class="nav-item nav-link btn btn-dark" href="{% url 'accounts:login' %}">{% trans "Log in" %}</a>
        <a class="nav-item nav-link btn btn-dark" href="{% url 'accounts:signup' %}">{% trans "Sign up" %}</a>
      {% endif %}
        {% if user.is_superuser %}
          <a class="nav-item nav-link btn btn-dark" href="{% url 'admin:index' %}">admin</a>
        {% endif %}
        <form id='submitform' action="{% url 'set_language' %}" method="post">{% csrf_token %}
          <input name="next" type="hidden" value="{{ redirect_to }}">
          <select class="nav-item nav-link btn btn-dark" name="language" id='language'>
            {% for language in languages %}
              <option class="" value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}selected{% endif %}>
                  {{ language.code }} 
              </option>
            {% endfor %}
          </select>
        <input type="submit" id='hide'>
    </form>
    {% if  user.is_authenticated%}
        <span class="nav-item nav-link btn btn-dark" style="color:#FF1493">[ {% trans "Welcome" %} {{user.username|slice:":10" }} ]</span>
    {% endif %}
    </div>
  </div>
</nav>
