{% extends "books/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <input type="hidden" id="myVar" name="variable" value="{{ searchnav }}">
	{% if not books %}
	<h1 class="jumbotron text-center text-info">{% trans "No book Searched" %}</h1>
	{% else %}
	            <div class="container">
                <div class="row">
                    {% for book in books  %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                            	{% if book.image %}
                            		<img class="img-thumbnail"  src="{{book.image.url}}"/>
                            	{% else %}
                            		<img class="img-thumbnail"  src="{{book.image_url}}"/>
                            	{% endif %}
                                
                                <div class="card-body">
                                    <h5 style="color:red"><a href="{% url 'books:book-detail' slug=book.slug %}">{{book.title|truncatewords:10}}</h5></a>
                                    <p class="card-text" style="color: green">
                                        {{book.descriptions|truncatewords:20}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; {% trans "first" %}</a>
                        <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                    {% endif %}
                 </span>
            </div>
	{% endif %}

{% endblock content %}

{% block footer %}
    {% include "mini_footer.html" %}
{% endblock footer %}