{% extends "books/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
    <input type="hidden" id="myVar" name="variable" value="{{ searchnav }}">
	{% if not books %}
	<h1 class="jumbotron text-center text-info">{% trans "No book Searched" %}</h1>
	{% else %}
	            <div class="container">
                <div class="row">
                    {% for book in books  %}
                        <div class="col-md-10 mx-auto">
                            <div class="card mb-1 shadow-sm">   
                                <div class="card-body">
                                    <h5 style="color:red"><i class="fa fa-book" aria-hidden="true"></i> <a href="{% url 'books:book-detail' slug=book.slug %}">{{book.title}}</a></h5>
                                    <p class="card-text" style="color: green">
                                        <i class="fa fa-user" aria-hidden="true"></i> {{book.author}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
            <div class="row">
            <div class="pagination mx-auto">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; {% trans "first" %}</a>
                        <a href="?page={{ page_obj.previous_page_number }}">{% trans "previous" %}</a>
                    {% endif %}

                    <span class="current">
                        {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">{% trans "next" %}</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">{% trans "last" %} &raquo;</a>
                    {% endif %}
                 </span>
            </div>
        </div>
    </div>

	{% endif %}

{% endblock content %}

{% block script %}
<script>
    $("#thisishaha").html($("#myVar").val());
</script>

{% endblock script %}

{% block footer %}
    {% include "mini_footer.html" %}
{% endblock footer %}

