{% extends "books/base.html" %}
{% load static %}
{% load i18n %}

{% block content %}
	{% if not book %}
	<h1 class="text-center">{% trans "No book Here" %}</h1>
	{% else %}
        {% if book.iframe %}
            {% autoescape off %}{{ book.iframe }}{% endautoescape %}
        {% else %}
            <h1 class="text-center">{% trans "contents are updating" %}</h1>
        {% endif %}
	{% endif %}
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function(){
           $("iframe").height($(window).height());
           $("iframe").width($("body").width());

           $(window).resize(function() {
                $("iframe").height($(window).height());
                $("iframe").width($("body").width());
            });
        });
        $("body").css("overflow", "hidden")
        $("iframe").css("overflow", "auto")
  </script>
{% endblock script %}