{% extends "books/base.html" %}
{% load static %}
{% block nav %}
    <form class="form-inline my-2 my-lg-0" action="{% url 'books:book-index' %}" method="GET">
        {# {% csrf_token %} #}
      <input class="form-control mr-sm-2" type="search" placeholder="Find the book" aria-label="Find the book" name='q'>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
{% endblock nav %}

{% block content %}
	{% if not books %}
	<h1 class="jumbotron text-center text-info">No book Searched</h1>
	{% else %}
	            <div class="container">
                <div class="row">
                    {% for book in books  %}
                        <div class="col-md-4">
                            <div class="card mb-4 shadow-sm">
                            	{% if book.image %}
                            		<img class="img-thumbnail"  src="{{book.image.url}}"/>
                            	{% else %}
                            		<img class="img-thumbnail"  src="{{book.image_url}}"/>
                            	{% endif %}
                                
                                <div class="card-body">
                                    <h5 style="color:red"><a href="{% url 'books:book-detail' slug=book.slug %}">{{book.title|truncatewords:10}}</h5></a>
                                    <p class="card-text" style="color: green">
                                        {{book.descriptions|truncatewords:20}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="pagination">
                <span class="step-links">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo; first</a>
                        <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                    {% endif %}

                    <span class="current">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                    </span>

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number }}">next</a>
                        <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                    {% endif %}
                 </span>
            </div>
	{% endif %}

{% endblock content %}