{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{book.title}}</title>
</head>
<body> 
  <div id="content">
  {% autoescape off %}{{ book.iframe }}{% endautoescape %}
</div>
  <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
  <script>
    $(".toolbar_scribd_logo").remove();
    $(".right_tools").remove();
    $(".toolbar_btn").remove();
    $(".mobile_overlay").remove();

  </script>
<script src="{% static "js/book.js" %}"></script>
</body>
</html>







