<div class="col-sm-4 col-md-4" id="card-0">
    <div class="card mb-4 shadow-sm">
        <img id="img-card-0" class="img-thumbnail"  src="" name="card-0"/>
        <audio id="audio-card-0" src=""></audio>
        <div class="mycard">
            <center><span id="span-card-0" class="card-text text-hide" style="color: green">
            </span></center>
        </div>
    </div>
</div>

<div class="col-sm-4 col-md-4" id="card-1">
    <div class="card mb-4 shadow-sm">
        <img id="img-card-1" class="img-thumbnail"  src="" name="card-1"/>
        <audio id="audio-card-1" src=""></audio>
        <div class="mycard">
            <center><span id="span-card-1" class="card-text text-hide" style="color: green">
            </span></center>
        </div>
    </div>
</div>

<div class="col-sm-4 col-md-4" id="card-2">
    <div class="card mb-4 shadow-sm">
        <img id="img-card-2" class="img-thumbnail"  src="" name="card-2"/>
        <audio id="audio-card-2" src=""></audio>
        <div class="mycard">
            <center><span id="span-card-2" class="card-text text-hide" style="color: green">
            </span></center>
        </div>
    </div>
</div>

<div class="col-sm-4 col-md-4" id="card-3">
    <div class="card mb-4 shadow-sm">
        <img id="img-card-3" class="img-thumbnail"  src="" name="card-3"/>
        <audio id="audio-card-3" src=""></audio>
        <div class="mycard">
            <center><span id="span-card-3" class="card-text text-hide" style="color: green">
            </span></center>
        </div>
    </div>
</div>

<div class="col-sm-4 col-md-4" id="card-4">
    <div class="card mb-4 shadow-sm">
        <img id="img-card-4" class="img-thumbnail"  src="" name="card-4"/>
        <audio id="audio-card-4" src=""></audio>
        <div class="mycard">
            <center><span id="span-card-4" class="card-text text-hide" style="color: green">
            </span></center>
        </div>
    </div>
</div>

<div class="col-sm-4 col-md-4" id="card-5">
    <div class="card mb-4 shadow-sm">
        <img id="img-card-5" class="img-thumbnail"  src="" name="card-5"/>
        <audio id="audio-card-5" src=""></audio>
        <div class="mycard">
            <center><span id="span-card-5" class="card-text text-hide" style="color: green">
            </span></center>
        </div>
    </div>
</div>
<input type="hidden" id="value-card-0" value="">
<input type="hidden" id="value-card-1" value="">
<input type="hidden" id="value-card-2" value="">
<input type="hidden" id="value-card-3" value="">
<input type="hidden" id="value-card-4" value="">
<input type="hidden" id="value-card-5" value="">