{% extends 'tasks/base.html' %}
{% load tags %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="container text-center">
        <div class="row text-center">
            <div class="col">
                <img src="{% static 'img/pig.png' %}" height="300px" alt="pig">
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div style="padding-top: 10px;">
                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTask" style="border-radius: 40px;">
                  + {% trans "Add new task" %}
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTaskTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col text-center" style="padding: 30px;">
                            <form id="MyForm">
                                <div class="row">
                                    <div class="form-group col text-center">
                                        <input type="text" name="title" placeholder="{% trans "What are you doing today?" %}" maxlength="200" class="form-control" required="" id="id_title">
                                     </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col text-center">
                                    <textarea name="description" cols="80" rows="3" placeholder="Describe this job .." maxlength="1000" class="form-control" id="id_description"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7">
                                        <select name="priority" class="form-control" id="id_priority">
                                            <option value="adanger" selected="">{% trans "High priority" %}</option>
                                            <option value="bwarning">{% trans "Medium priority" %}</option>
                                            <option value="csuccess">{% trans "Low priority" %}</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Cancel" %}</button>
                                            <button type="button" class="btn btn-primary" onclick="checkForm()" data-dismiss="modal">{% trans "Add" %}</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6" id='mytable'>
            <div id="mytablea"></div>
            <div id="mytableb"></div>
            <div id="mytablec"></div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
    <input type="hidden" id="myVar" name="variable" value="{{ hidenav }}">
    <footer class="panel-footer text-center" style="margin-top: 100px; color:red">{% trans "Have a good day!" %}</footer>
{% endblock %}

{% block script %}
    <script src="{% static "js/task.js" %}"></script>

    <script>
        
    </script>

{% endblock %}
