{% extends 'tasks/base.html' %}
{% load tags %}
{% load static %}

{% block title %}To Do List{% endblock %}

{% block content %}
    <div class="container text-center">
        <div class="row text-center">
            <div class="col">
                <img src="{% static 'img/pig.png' %}" height="300px" alt="pig">
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <div style="padding-top: 10px;">
                <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addTask" style="border-radius: 40px;">
                  + Thêm tác vụ mới
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addTask" tabindex="-1" role="dialog" aria-labelledby="addTaskTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col text-center" style="padding: 30px;">
                            <form id="MyForm">
                                <div class="row">
                                    <div class="form-group col text-center">
                                        <input type="text" name="title" placeholder="Bạn đang cần làm gì hôm nay?" maxlength="200" class="form-control" required="" id="id_title">
                                     </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col text-center">
                                    <textarea name="description" cols="80" rows="3" placeholder="Mô tả công việc này .." maxlength="1000" class="form-control" id="id_description"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-7">
                                        <select name="priority" class="form-control" id="id_priority">
                                            <option value="adanger" selected="">Ưu tiên cao</option>
                                            <option value="bwarning">Ưu tiên vừa</option>
                                            <option value="csuccess">Ưu tiên thấp</option>
                                        </select>
                                    </div>
                                    <div class="col-5">
                                        <div class="btn-group float-right" role="group" aria-label="Basic example">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                                            <button type="button" class="btn btn-primary" onclick="checkForm()" data-dismiss="modal">Thêm  </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="margin-top: 10px;">
        <div class="col-lg-3 col-md-3"></div>
        <div class="col-lg-6 col-md-6" id='mytable'>
            <div id="mytablea"></div>
            <div id="mytableb"></div>
            <div id="mytablec"></div>
        </div>
        <div class="col-lg-2 col-md-2"></div>
    </div>
    <footer class="panel-footer text-center" style="margin-top: 100px; color:red">Chúc bạn ngày mới tốt lành!</footer>
{% endblock %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();
        });

        $(function () {
            $('#mytable').on('show.bs.collapse', function () {
            $('#mytable .in').collapse('hide');
            });

        });
    </script>

    <script>
        function checkForm(){
            var id = '_' + Math.random().toString(36).substr(2, 9);
            var idd = '_' + Math.random().toString(36).substr(2, 9);
            var iddd = '_' + Math.random().toString(36).substr(2, 9);
            var title =document.getElementById('id_title').value;
            var descriptions =document.getElementById('id_description').value;
            var priority =document.getElementById('id_priority').value;
            var html = `<div id=`+iddd.toString()+` class="card btn-block" style="margin-top: 10px; border-radius: 0px; padding: 10px; background-color: #fafafa">
                <div class="row">
                    <div class="col-9">

                        <a href="" id=`+idd.toString()+` data-toggle="collapse" data-target="#`+id.toString()+`" style="text-decoration: none;" class="`+ priority.toString()+` collapsed aa" aria-expanded="false">` + title.toString() + `</a>

                        <div class="collapse" id="`+id.toString()+`" style="">
                              <div class="" style="border-radius: 0;">
                                <div class="row">
                                    <div class="col">`+
                                        descriptions.toString()
                                    +`</div>
                                </div>
                              </div>
                            </div>

                        </div>
                        <div class="col-3">
                            <div class="btn-group float-right" role="group">
                                <a href="javascript:hoanthanh('`+idd.toString()+`')" class="float-right" data-toggle="tooltip" title="Hoàn thành?">&#10004;</a>
                                <a href="javascript:xoa('`+iddd.toString()+`')" class="float-right" style="padding-left: 10px;" data-toggle="tooltip" title="Xóa">&#10007;</a>
                            </div>
                        </div>
                    </div>
                </div>`;

            if (priority.toString() == 'adanger') {
                document.querySelector('#mytablea').insertAdjacentHTML(
                    'afterbegin', html
                    );
            };

            if (priority.toString() == 'bwarning') {
                document.querySelector('#mytableb').insertAdjacentHTML(
                    'afterbegin', html
                    );
            };

            if (priority.toString() == 'csuccess') {
                document.querySelector('#mytablec').insertAdjacentHTML(
                    'afterbegin', html
                    );
            };
            
        };

        function hoanthanh(id) {
          var st = document.getElementById(id).style.textDecoration;
          if (st === "line-through") {
            document.getElementById(id).style.textDecoration = ""
          } else{ document.getElementById(id).style.textDecoration = "line-through"}
        };

        function xoa(id) {
          document.getElementById(id).remove()
        };
    </script>

{% endblock %}
