{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block title %}
	{% trans "Login" %}
{% endblock title %}

{# at the terminal, run pip install django-bootstrap4 #}
{% load bootstrap4 %}

{% block content %}
<div class="container">
  <h1 class="text-center">{% trans "Login" %}</h1>
  <form method="POST" class="form">
    {% csrf_token %}
    {% bootstrap_form form %}
    {% buttons %}
      <button type="submit" class="btn btn-primary text-center" style="margin:0 auto 0 auto">{% trans "Login" %}</button>
    {% endbuttons %}
    <a href="{% url 'accounts:signup' %}">{% trans "Click here to register" %}</a>
  </form>	
</div>
<canvas id="canvas"></canvas>
{% endblock %}
{% block script %}
	<script>$("body").css("overflow", "hidden");</script>
	<script src="{% static "js/starnight.js" %}"></script>
{% endblock script %}
